body{
  width: 95%;
  margin: 0 auto;
  background-color: #fffdf7;
  color: rgb(60,60,60);
  font-family: 'Dokdo', cursive;
}
h1 {
  display: inline-block;
  font-family: 'Dokdo', cursive;
  font-size: 6em;
  text-align: center;
  margin: 20px auto;
  width: 40%;
  box-shadow: 0 9px 14px 0 black, 0 9px 14px 0 black;
  background-color: lightgrey;
  clear: left;
}
#quote{
  text-align: center;
  margin-left: 6px;
  text-decoration: underline;
  border: 7px groove grey;
  width: 38%;
  font-size: 25px;
  float: left;
  box-shadow: 0 9px 14px 0 black, 0 9px 14px 0 black;
}
#today{
  clear: left;
  font-size: 2em;
}
#clock{
  margin-top: 55px;
  margin-left: 95px;
  display: inline-block;
  margin-right: 70px;
  border: none;
}
#date{
  font-size:2em;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: 0;
}
#weather{
  display: inline-block;
  margin: 10px;
  float: right;
  width: 25%;
  box-shadow: 0 9px 14px 0 black, 0 9px 14px 0 black;
  background-color: black;
}
#weekList{
  clear: left;
  margin: auto;
  width: 35%;
  float: left;
}
#dont{
  display: inline-block;
  margin-top: 100px;
  clear: both;
  margin-bottom: 150px;
  text-align: center;
  margin-left: 65px;
}
#week{
  font-size: 2em;
  clear: left;
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 350px;
  text-align: left;
}
#addItem{
   display: inline-block;
   text-align: right;
   width: 1.2em;
   float: left;
}
#forget{
  width:100%;
  text-align: center;
  margin-top: 75px;
  font-size: 2.5em;
}
#bar{
  background-color: black;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  color: grey;
}
#addItem:hover{
  color: black;
}
#toDoList{
  clear: left;
  margin: auto;
  width: 35%;
  float: left;
}
#newItem{
  display: inline-block;
  float:left;
  text-align: right;
}
#newItem:hover{
  color: black;
}
#emojiDay{
  float: left;
  display: inline-block;
  width: 45%;
  text-align: right;
  font-size: 10em;
  margin-top: 25px;
}
#emojiWeek{
  float: left;
  display: inline-block;
  width: 45%;
  text-align: right;
  font-size: 10em;
  margin-top: 45px;
}
#sleep{
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  text-align: center;
  font-size: 2em;
}
#food{
  display: inline-block;
  float: right;
  clear: right;
  width: 50%;
  text-align: center;
  font-size: 2em;
}
#friends{
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  text-align: center;
  font-size: 2em;
}
#exercise{
  display: inline-block;
  float: right;
  clear: right;
  width: 50%;
  text-align: center;
  font-size: 2em;
}
#exercise span{
  font-size: .5em;
}
td:last-child{
  text-align:center;
}
main {
  margin: 0 auto;
  width:90%
}
table {
  border-collapse: collapse;
  width:80%;
  box-shadow: 0 9px 14px 0 black, 0 9px 14px 0 black;
}
td {
  height: 2em;
  border: 2px solid black;
  font-size: 1.5em;
  width: 100%;
}
td:first-child{
  width: 80%;
}
tr:nth-child(even){
  background-color: lightgrey;
}
tr:nth-child(odd) {
  background-color: white;
}
footer{
  width: 100%;
  background-color: black;
  clear: both;
  text-align: right;
  color: white;
}
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px black, 0 0 20px white, 0 0 30px black, 0 0 40px white, 0 0 50px black, 0 0 60px white, 0 0 70px black;
  }
  to {
    text-shadow: 0 0 20px white, 0 0 30px black, 0 0 40px white, 0 0 50px black, 0 0 60px white, 0 0 70px black, 0 0 80px white;
  }
}
#image{
  clear: both;
  width: 95%;
  position: fixed;
  display: block;
  z-index: -1;
}
#top{
  margin-top: 200px;
}
